
.image-button {
    background: white;
    border: purple solid;
    cursor: pointer;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0.1rem;
  }
  
  .image-button img {
    max-height: 2.5rem;
    max-width: 4.2rem;
  }

  @media screen and (max-width: 480px) {
    .image-button img {
      max-height: 1.3rem;
      max-width: 2.2rem;
    }   
  }